*{
	transition: all .1s ease-in;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	background: url('img/stars.png');
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	text-align: center;
}
.conteiner{
	background: linear-gradient(to right, rgba(85, 50, 123, 0.7), rgba(137, 91, 141, 0.7));
	height: 100vh;
}
header, .section{
	width: 85%;
	max-width: 1000px;
	margin: 0 auto;
}
header {
	padding: 3% 0;
}
.section{
	background-color: #FFF;
	box-shadow: -50px 0px 0px -20px rgba(255,255,255,0.25),
				-25px 0px 0px -10px rgba(255,255,255,0.25),
				50px 0px 0px -20px rgba(255,255,255,0.25),
				25px 0px 0px -10px rgba(255,255,255,0.25);
	text-align: left;
	font-size: 0;
	overflow: auto;
}
.header__logo{
	display: inline-block;
	float: left;
}
.header__catlist{
	display: inline-block;
	list-style-type: none;
	color: #FFF;
}
.header__catitem{
	display: inline-block;
	margin: 0 20px;
	font-size: 13px;
	font-weight: 300;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,0);
}
.header__catitem:hover{
	border-bottom: 1px solid #fff;
}
.header__menu{
	color: #FFF;
	float: right;
}
.section__photo{
	display: inline-block;
	position: relative;
	width: 67%;
	text-align: left;
	background-color: #f4f4f4;
	background: linear-gradient(to bottom, #edeaec 15%, #f4f4f4 50%);
	padding: 0 3% 25px 3%;
}
.section__itemphoto{
	position: relative;
	margin-top: 95px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
}
.section__photo-bg{
	display: inline-block;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 2;
}
.section__h1{
	display: inline-block;
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 80px;
	font-weight: 900;
	letter-spacing: 5px;
	color: #fff;
	z-index: 1;
}
.section__plus{
	float: right;
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	font-weight: 100;
	color: #1f1f1f;
	outline: none;
	background: transparent;
	border: transparent;
	cursor: pointer;
}
.section__plus:active{
	transition: all .1s ease;
	-webkit-transform: scaleX(1.1) scaleY(1.1);
	   -moz-transform: scaleX(1.1) scaleY(1.1);
	    -ms-transform: scaleX(1.1) scaleY(1.1);
	     -o-transform: scaleX(1.1) scaleY(1.1);
	        transform: scaleX(1.1) scaleY(1.1);
}
.section__listphoto{
	clear: both;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
.section__smallphotos{
	display: inline-block;
	border: 0.1px solid #fff;
	margin: 0 1.5%;
	cursor: pointer;
}
.section__smallphotos:hover{
	-webkit-transform: scaleX(1.1) scaleY(1.1);
	   -moz-transform: scaleX(1.1) scaleY(1.1);
	    -ms-transform: scaleX(1.1) scaleY(1.1);
	     -o-transform: scaleX(1.1) scaleY(1.1);
	        transform: scaleX(1.1) scaleY(1.1);
}
.section__info{
	display: inline-block;
	width: 33%;
	background-color: #fff;
	color: black;
	font-size: 16px;
	vertical-align: top;
}
.options{
	padding: 10% 5% 0 5%;
}
.otion--left{
	text-align: left;
}
.option__status{
	display: inline-block;
	text-transform: uppercase;
	background-color: #ffa60d;
	color: #fff;
	padding: 2% 2%;
}
.option__slogan{
	font-size: 30px;
	text-transform: uppercase;
	padding: 3% 0;
}
.option__slogan--blue{
	color: #5E4FFF;
}
.option__name {
	font-size: 12px;
	padding: 1.5% 0;
}
.option__name--name{
	font-family: 'Roboto Condensed', sans-serif;
	margin-right: 3%;
	font-weight: 600;
}
.fa-star:last-child{
	color: #7f7f7f;
}
.option__price{
	font-size: 25px;
	padding: 5% 0;
}
.option__size{
	font-size: 14px;
}
.option__size-list--list{
	list-style-type: none;
	padding: 1.5% 0;
}
.option__size-items{
	display: inline-block;
	cursor: pointer;
	padding: 1.5%;
	border: 1px solid rgba(0,0,0,0);
	min-width: 30px;
	min-height: 30px;
	text-align: center;
}
.option__size-items:hover{
	border: 1px solid black;
}
.option__cart, .option__wishlist{
	width: 60%;
	text-align: center;
	padding: 3% 0;
	border: 1px solid black;
	cursor: pointer;
	text-transform: uppercase;
	margin: 3% 0;
}
.option__cart{
	margin-top: 6%;
}
.option__cart:hover, .option__wishlist:hover{
	background-color: #a200b8;
	border-color: #a200b8;
	color: #fff;
}
.options__close{
	float: right;
	margin: 0 5px;
	font-size: 25px;
	font-weight: 100;
	line-height: 30px;
	color: #D7D7D7;
	cursor: pointer;
}
